.construction-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95%;

  & img {
    height: 20rem;
    width: auto;
  }

  .ant-typography {
    margin-top: 3rem;
    font-size: 1.25rem;
    width: 50%;
  }
}

@media (max-width: 800px) {
  .construction-body {
    height: 80%;

    & img {
      width: 40%;
      height: auto;
    }

    .ant-typography {
      font-size: 1rem;
      width: 75%;
    }
  }
}
