@import '../../theme/core.scss';

.root {
  display: flex;
  flex-direction: row;
  padding: 50px;
  flex: 1 1;
  width: 100%;
  font-size: 20px;
}

.chart-desktop {
  display: block;
  position: relative;
}

.chart-mobile {
  display: none;
}

.results-header {
  font-size: 25px;
  display: block;
}

.results-bold {
  font-weight: 600;
}

.chart-container-mobile {
  display: none;
}

.chart-container-desktop {
  width: 500px;
  height: 450px;
  padding: 1rem;
  margin: auto;
  box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.16);
  background-color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-subtitle {
  text-align: center;
  font-size: 14px;
  margin-top: 3rem;
}

.chart-data {
  background-color: white;
  flex: 1;
  margin: 0 auto auto 0;
  min-width: 50%;
}

.bold-text {
  font-weight: 700;
}

.italics-text {
  font-style: italic;
}

.annotate-title-mobile {
  display: none;
}

.quadrant-explanation-mobile {
  display: none;
}

.reading-material-mobile {
  display: none;
}

.reading-material {
  width: 450px;
  margin: 5.75rem auto;
  padding: 1rem;
  background-color: #eaeaea;

  & p {
    margin: 0.75rem 0;
    text-align: center;
  }
}

@media (max-width: 768px) {
  .reading-material {
    display: none;
  }

  .quadrant-explanation-mobile {
    margin-bottom: 2rem;
    display: block;
  }

  // desktop
  .chart-content {
    background-color: rgba(0, 0, 0, 0) !important;
  }

  // don't show rough annotation on phone...
  .annotate-title-desktop {
    display: none !important;
  }

  .annotate-title-mobile {
    display: contents;
    font-weight: 700;
  }

  .chart-desktop {
    display: none;
  }

  .chart-mobile {
    display: block;
  }

  .root {
    display: flex;
    flex-direction: row;
    padding: 20px 20px 0 20px;
    height: auto;
    flex: 1 1;
    width: 100vw;
    font-size: 18px;
  }

  .results-header {
    display: none;
  }

  .results-bold {
    font-size: 22px;
  }

  .chart-container-desktop {
    display: none;
  }

  .chart-container-mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 260px;
    margin: auto;
    padding: 17px 0;
    box-shadow: 2px 2px 16px 0 rgba(0, 0, 0, 0.16);
    background-color: #fafafa;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .chart-labels {
    width: 226px;
    height: 242px;
    position: absolute;
    font-size: 12px;
    color: #040f4c;
    pointer-events: none;
  }

  .chart-lines {
    width: 100px;
    height: 100px;
    position: absolute;
    pointer-events: none; // info will be below chart
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    transform: translate(60px, 65px);
  }

  .hover-explanation-desktop {
    display: none;
  }

  .hover-explanation-mobile {
    display: block !important;
    margin: 10px 0;
  }

  .mobile-collapse-header {
    padding: 0px !important;
  }

  .button-container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .results-btn {
    margin: 1px 1px 10px 1px !important;
    font-size: 12px;
  }

  .mobile-info {
    font-size: 14px;
  }

  .button-container-mobile {
    display: block !important;
  }

  .button-container-desktop {
    display: none !important;
  }
}

@media (min-width: 501px) and (max-width: 768px) {
  .chart-content-mobile {
    width: 90%;
    margin: auto;
  }

  .reading-material-mobile {
    display: flex;
    flex-direction: column;
    margin: 0 auto 4rem auto;
    padding: 1rem;
    background-color: #eaeaea;

    .material-text {
      font-size: 0.8rem;

      & p {
        text-align: center;
        margin: 0.75rem 0;
        font-weight: 600;
      }

      & span {
        display: flex;
        justify-content: center;
      }
    }
  }

  .material-container-mobile {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1rem;
  }

  .material-expanded-mobile {
    align-self: baseline;

    & h4 {
      font-size: 1rem !important;
    }
  }
}

@media (max-width: 500px) {
  .chart-content-mobile {
    width: 100%;
    margin: auto;
  }

  .reading-material {
    display: none;
  }

  .reading-material-mobile {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 1rem;
    background-color: #eaeaea;

    .material-text {
      font-size: 0.8rem;

      & p {
        text-align: center;
        margin: 0.75rem 0;
        font-weight: 600;
      }

      & span {
        display: flex;
        justify-content: center;
      }
    }
  }

  .material-container-mobile {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-top: 1rem;
  }

  .material-expanded-mobile {
    align-self: baseline;

    & h4 {
      font-size: 1rem !important;
    }
  }
}

.hover-explanation-mobile {
  display: none;
}

.button-container-desktop {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-container-mobile {
  display: none;
}

.button-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
