text {
    font: 10px sans-serif;
}

form {
    position: absolute;
    right: 10px;
    top: 10px;
}

.outer-color-1 {
    stop-color: red;
}

.outer-color-2 {
    stop-color: blue;
}

.outer-color-3 {
    stop-color: green;
}